.postbody
    width: 100%

.image-container
    position: relative
    display: flex
    width: 50%
    .mat-icon
        display: none
    &:hover
        .mat-icon
            display: inline-block
            position: absolute
            right: -20px
            top: -7px
            cursor: pointer

.post-image
    width: auto
    height: 100px
    max-width: 100%
    margin: 10px auto  
