<mat-form-field class="postbody">
    <textarea [(ngModel)]="body" id="body-post" class="postbody" required matInput value="{{body}}"></textarea>
</mat-form-field>
<div class="image-container">
    <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
    <img [(ngModel)]="img" mat-card-image class="post-image" *ngIf="img" mat-card-image src="{{img}}" alt="Photo">
</div>
<input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
<button mat-icon-button id="image-post" color="accent" (click)="file.click()">
    <mat-icon aria-label="Choose an image">image</mat-icon>
</button>
<div align="end">
    <button mat-icon-button color="primary" (click)="onNoClick()">
        <mat-icon aria-label="Back">settings_backup_restore</mat-icon>
    </button>
    <button [disabled]="body ==='' && img == null || body ==='' && img == ''" id="save-post" disabled mat-icon-button
        color="primary" (click)="SavePost()">
        <mat-icon aria-label="Send">send</mat-icon>
    </button>
    <div align="start">
        BODY {{body}}
    </div>
    <div align="start">
        IMG {{img}}
    </div>
</div>